.header {
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    background-color: white;
    border-bottom: 1px solid #eee;
    position: sticky;
    top: 0;
    z-index: 1000;
    box-sizing: border-box;
    position: relative;
  }
  
  .rightSection {
    display: flex;
    gap: 15px;
    align-items: center;
  }
  
  .navButton {
    background: none;
    border: none;
    cursor: pointer;
    color: #666;
    text-decoration: none;
    font-size: 16px;
  }

  .midSection{
    position: absolute;
    right: 40px;
    top: 70px;
  }

  .modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* 어두운 배경 */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2000;
  }
  
  .modalContent {
    background: white;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
  }

  .onbtn,.offbtn{
    padding: 10px;
    border: 1px solid #6366f1;
    text-align: center;
    background: #fff;
    margin: 10px 10px 0;
    cursor: pointer;
    color: #6366f1;
    width: 60px;
  }

  .onbtn:hover,.offbtn:hover{
    background: #6366f1;
    color: #fff;
    font-weight: bold;
  }

  