.sidebar{
    width : 260px;
    background-color: #1a1c23;
    color: #fff;
    height: 100vh;
    padding: 2rem 1.5rem;
    display: flex;
    flex-direction: column;
    position: fixed;
    left: 0;
    top: 0;
}

.logo{
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 3rem;
    color: #4c51bf;
}

.menuList{
    list-style: none;
    padding: 0;;
}

.menuItem{
    padding: 12px 20px;
    margin-bottom: 8px;
    border-radius: 12px;
    cursor: pointer;
    color: #a0aec0;
    transition: all 0.3s;
}

.menuItem:hover{
    background-color: #2d3748;
    color: white;
}

.active{
    background-color: #4c51bf;
    color: white;
    font-weight: 600;
}
