.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999; /* 매우 높은 값 설정 */
}

.modal-content {
  background: white;
  padding: 30px;
  width: 1100px;
  height: auto;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.2);
  z-index: 10000;
}

.modal-content2 {
  background: white;
  padding: 30px;
  width: 600px;
  height: auto;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.2);
  z-index: 10000;
}

.workout-container {
  padding: 2rem;
  max-width: 1200px;
  margin: 0 auto;
}

.workout-row {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #eee;
}

.workout-row input {
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 5px;
  flex: 1;
}

.rdp-root{
  margin-bottom: 30px;
}

.btn_box {
  align-items: center;
}

.btn-save:hover{
  background: #223498;
  color: #fff;
}
/* 캘린더 스타일 */
.rdp-day {
  width: 100px !important;
  height: 100px !important;
  vertical-align: top;
}

.day-cell {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  position: relative;
}

.day-number {
  font-weight: bold;
  margin-top: 5px;
}

.workout-preview {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin-top: 5px;
  gap: 2px;
  position: absolute;
  top: 5px;
}

.workout-item {
  font-size: 10px;
  color: #fff;
  background: #8385ff;
  padding: 2px;
  border-radius: 3px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


.workout-row input {
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 5px;
  flex: 1;
}

/* 버튼 스타일 */
.btn-add { background: #fff; color: #6366f1; border: 1px solid #6366f1; padding: 10px 15px; border-radius: 5px; cursor: pointer; margin-right: 10px;}
.btn-add:hover { background: #6366f1; color: white; }
.btn-remove { background: #fff; color: #e53e3e; border: none; padding: 10px 15px; border-radius: 5px; cursor: pointer; border: 1px solid #e53e3e;font-weight: bold;}
.btn-remove:hover{background: #e53e3e;color: #fff;}
.btn-save {  padding: 10px 15px; background: #fff; color: #223498; border: 1px solid #223498; border-radius: 5px; font-weight: bold; cursor: pointer; }
.btn-plus-box{
  display: flex;
  justify-content: flex-start;
}

.detail-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid #eee;
}

.btn-delete-small {
  font-size: 12px;
  color: #e53e3e;
  background: none;
  border: none;
  cursor: pointer;
}

.form-error {
  color: #e53e3e;
  font-size: 13px;
  margin-top: 8px;
  font-weight: 500;
}

.btn-close {
  background: #fff;
  color: #555;
  border: 1px solid #ccc;
  padding: 5px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}
.btn-close:hover {
  background: #f0f0f0;
}